pipeline/Copy Data Pipeline.json
{
	"name": "Copy Data Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 0
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "Log_LinkedService",
							"type": "LinkedServiceReference"
						},
						"path": "demo/demo"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Series_reference",
									"type": "String"
								},
								"sink": {
									"name": "Series_reference",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Period",
									"type": "String"
								},
								"sink": {
									"name": "Period",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Data_value",
									"type": "String"
								},
								"sink": {
									"name": "Data_value",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UNITS",
									"type": "String"
								},
								"sink": {
									"name": "UNITS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Subject",
									"type": "String"
								},
								"sink": {
									"name": "Subject",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Group",
									"type": "String"
								},
								"sink": {
									"name": "Group",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Series_title_1",
									"type": "String"
								},
								"sink": {
									"name": "Series_title_1",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "CSV_DataSet_Demo_Demo",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_DataSet_Demo",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceIgnoreTableNotFound": false
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_DataSet_Table_Demo",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Copy Data Failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send email on failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "nitaneja@in.ibm.com",
						"Activity": {
							"value": "Copy Data",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@activity('Copy data').Error.Message",
							"type": "Expression"
						},
						"Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Call p_process procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[p_process]",
					"storedProcedureParameters": {
						"cdatafactoryname": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"cdtend": {
							"value": null,
							"type": "DateTime"
						},
						"cdtstart": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ckprocess": {
							"value": null,
							"type": "Int32"
						},
						"cpipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"cstatus": {
							"value": "R",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL Database Connection",
					"type": "LinkedServiceReference",
					"parameters": {
						"SQL User Name": {
							"value": "@pipeline().parameters.UserName",
							"type": "Expression"
						},
						"SQL Password": {
							"value": "@pipeline().parameters.Password",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get Process ID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Call p_process procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ckprocess) as CKProcessID from tprocess(nolock)",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Azure_SqlTable",
						"type": "DatasetReference",
						"parameters": {
							"UserName": {
								"value": "@pipeline().parameters.UserName",
								"type": "Expression"
							},
							"Password": {
								"value": "@pipeline().parameters.Password",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Process ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ckProcessID",
					"value": {
						"value": "@string(activity('Get Process ID').output.firstRow)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "End p_process procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[p_process]",
					"storedProcedureParameters": {
						"cdatafactoryname": {
							"value": null,
							"type": "String"
						},
						"cdtend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"cdtstart": {
							"value": null,
							"type": "DateTime"
						},
						"ckprocess": {
							"value": {
								"value": "@int(variables('ckProcessID'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"cpipelinename": {
							"value": null,
							"type": "String"
						},
						"cstatus": {
							"value": "S",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL Database Connection",
					"type": "LinkedServiceReference",
					"parameters": {
						"SQL User Name": {
							"value": "@pipeline().parameters.UserName",
							"type": "Expression"
						},
						"SQL Password": {
							"value": "@pipeline().parameters.Password",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Fail p_process procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[p_process]",
					"storedProcedureParameters": {
						"cdatafactoryname": {
							"value": null,
							"type": "String"
						},
						"cdtend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"cdtstart": {
							"value": null,
							"type": "DateTime"
						},
						"ckprocess": {
							"value": {
								"value": "@int(variables('ckProcessID'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"cpipelinename": {
							"value": null,
							"type": "String"
						},
						"cstatus": {
							"value": "S",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL Database Connection",
					"type": "LinkedServiceReference",
					"parameters": {
						"SQL User Name": {
							"value": "@pipeline().parameters.UserName",
							"type": "Expression"
						},
						"SQL Password": {
							"value": "@pipeline().parameters.Password",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"UserName": {
				"type": "string",
				"defaultValue": "sunildp200"
			},
			"Password": {
				"type": "string",
				"defaultValue": "Welcome2IBM"
			}
		},
		"variables": {
			"ckProcessID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}