pipeline/Copy Data Pipeline.json
{
	"name": "Copy Data Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Create_Process_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 0
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "Log_LinkedService",
							"type": "LinkedServiceReference"
						},
						"path": "demo/demo"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "cdatetime",
									"type": "String"
								},
								"sink": {
									"name": "cdatetime"
								}
							},
							{
								"source": {
									"name": "address",
									"type": "String"
								},
								"sink": {
									"name": "address"
								}
							},
							{
								"source": {
									"name": "district",
									"type": "String"
								},
								"sink": {
									"name": "district"
								}
							},
							{
								"source": {
									"name": "beat",
									"type": "String"
								},
								"sink": {
									"name": "beat"
								}
							},
							{
								"source": {
									"name": "grid",
									"type": "String"
								},
								"sink": {
									"name": "grid"
								}
							},
							{
								"source": {
									"name": "crimedescr",
									"type": "String"
								},
								"sink": {
									"name": "crimedescr"
								}
							},
							{
								"source": {
									"name": "ucr_ncic_code",
									"type": "String"
								},
								"sink": {
									"name": "ucr_ncic_code"
								}
							},
							{
								"source": {
									"name": "latitude",
									"type": "String"
								},
								"sink": {
									"name": "latitude"
								}
							},
							{
								"source": {
									"name": "longitude",
									"type": "String"
								},
								"sink": {
									"name": "longitude"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "CSV_DataSet_Demo_Demo",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_DataSet_Demo",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy_data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceIgnoreTableNotFound": false
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PartitionKey",
									"type": "String"
								},
								"sink": {
									"name": "PartitionKey",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RowKey",
									"type": "String"
								},
								"sink": {
									"name": "RowKey",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Timestamp",
									"type": "DateTimeOffset"
								},
								"sink": {
									"name": "Timestamp",
									"type": "DateTimeOffset"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "AzureTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_DataSet_Table_Demo",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Create_Process_ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "USP_PROCESS",
						"storedProcedureParameters": {
							"ERROR_MESSAGE": {
								"type": "String",
								"value": null
							},
							"LAST_UPDATED_BY": {
								"type": "String",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							"LOG_TABLE_NAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PROCESS_ID": {
								"type": "Int32",
								"value": null
							},
							"SP_NAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"STATUS": {
								"type": "String"
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Azure_SqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Fail p_process procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[p_process]",
					"storedProcedureParameters": {
						"cdatafactoryname": {
							"value": null,
							"type": "String"
						},
						"cdtend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"cdtstart": {
							"value": null,
							"type": "DateTime"
						},
						"cerror": {
							"value": {
								"value": "@activity('Copy_data').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ckprocess": {
							"value": {
								"value": "@activity('Create_Process_ID').output.firstRow.CKProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"cpipelinename": {
							"value": null,
							"type": "String"
						},
						"cstatus": {
							"value": "E",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL Database Connection",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail p_process_procedure1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[p_process]",
					"storedProcedureParameters": {
						"cdatafactoryname": {
							"value": null,
							"type": "String"
						},
						"cdtend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"cdtstart": {
							"value": null,
							"type": "DateTime"
						},
						"cerror": {
							"value": {
								"value": "@if(equals(activity('Copy_data1').status,'Failed'),activity('Copy_data1').Error.Message,null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"ckprocess": {
							"value": {
								"value": "@activity('Create_Process_ID').output.firstRow.CKProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"cpipelinename": {
							"value": null,
							"type": "String"
						},
						"cstatus": {
							"value": {
								"value": "@if(equals(activity('Copy_data1').status,'Failed'),'E','S')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL Database Connection",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "SacramentocrimeJanuary2006.csv"
			}
		},
		"annotations": []
	}
}