pipeline/Copy Data Pipeline.json
{
	"name": "Copy Data Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Create_Process_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 0
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "Log_LinkedService",
							"type": "LinkedServiceReference"
						},
						"path": "demo/demo"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Series_reference",
									"type": "String"
								},
								"sink": {
									"name": "Series_reference",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Period",
									"type": "String"
								},
								"sink": {
									"name": "Period",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Data_value",
									"type": "String"
								},
								"sink": {
									"name": "Data_value",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UNITS",
									"type": "String"
								},
								"sink": {
									"name": "UNITS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Subject",
									"type": "String"
								},
								"sink": {
									"name": "Subject",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Group",
									"type": "String"
								},
								"sink": {
									"name": "Group",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Series_title_1",
									"type": "String"
								},
								"sink": {
									"name": "Series_title_1",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "CSV_DataSet_Demo_Demo",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_DataSet_Demo",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceIgnoreTableNotFound": false
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_DataSet_Table_Demo",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Create_Process_ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[p_process]",
						"storedProcedureParameters": {
							"cdatafactoryname": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"cdtend": {
								"type": "DateTime",
								"value": null
							},
							"cdtstart": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							"cerror": {
								"type": "String",
								"value": null
							},
							"ckprocess": {
								"type": "Int32",
								"value": null
							},
							"cpipelinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"cstatus": {
								"type": "String",
								"value": "R"
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Azure_SqlTable",
						"type": "DatasetReference",
						"parameters": {
							"UserName": {
								"value": "@pipeline().parameters.UserName",
								"type": "Expression"
							},
							"Password": {
								"value": "@pipeline().parameters.Password",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Fail p_process procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[p_process]",
					"storedProcedureParameters": {
						"cdatafactoryname": {
							"value": null,
							"type": "String"
						},
						"cdtend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"cdtstart": {
							"value": null,
							"type": "DateTime"
						},
						"cerror": {
							"value": {
								"value": "@activity('Copy_data').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ckprocess": {
							"value": {
								"value": "@activity('Create_Process_ID').output.firstRow.CKProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"cpipelinename": {
							"value": null,
							"type": "String"
						},
						"cstatus": {
							"value": "E",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL Database Connection",
					"type": "LinkedServiceReference",
					"parameters": {
						"SQL User Name": {
							"value": "@pipeline().parameters.UserName",
							"type": "Expression"
						},
						"SQL Password": {
							"value": "@pipeline().parameters.Password",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Fail p_process_procedure1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[p_process]",
					"storedProcedureParameters": {
						"cdatafactoryname": {
							"value": null,
							"type": "String"
						},
						"cdtend": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"cdtstart": {
							"value": null,
							"type": "DateTime"
						},
						"cerror": {
							"value": {
								"value": "@if(equals(activity('Copy_data1').status,'Failed'),activity('Copy_data1').Error.Message,null)",
								"type": "Expression"
							},
							"type": "String"
						},
						"ckprocess": {
							"value": {
								"value": "@activity('Create_Process_ID').output.firstRow.CKProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"cpipelinename": {
							"value": null,
							"type": "String"
						},
						"cstatus": {
							"value": {
								"value": "@if(equals(activity('Copy_data1').status,'Failed'),'E','S')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL Database Connection",
					"type": "LinkedServiceReference",
					"parameters": {
						"SQL User Name": {
							"value": "@pipeline().parameters.UserName",
							"type": "Expression"
						},
						"SQL Password": {
							"value": "@pipeline().parameters.Password",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"UserName": {
				"type": "string",
				"defaultValue": "sunildp200"
			},
			"Password": {
				"type": "string",
				"defaultValue": "Welcome2IBM"
			}
		},
		"annotations": []
	}
}