pipeline/Process log SP.json
{
	"name": "Process log SP",
	"properties": {
		"activities": [
			{
				"name": "Call p_process procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[p_process]",
					"storedProcedureParameters": {
						"cdatafactoryname": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"cdtend": {
							"value": "",
							"type": "DateTime"
						},
						"cdtstart": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ckprocess": {
							"value": "",
							"type": "Int32"
						},
						"cpipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"cstatus": {
							"value": "R",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL Database Connection",
					"type": "LinkedServiceReference",
					"parameters": {
						"SQl User Name": {
							"value": "@pipeline().parameters.SQL User Name",
							"type": "Expression"
						},
						"SQL Password": {
							"value": "@pipeline().parameters.SQL Password",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Call p_process procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CKProcessID",
					"value": {
						"value": "@activity('Call p_process procedure').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SQL User Name": {
				"type": "string"
			},
			"SQL Password": {
				"type": "string"
			}
		},
		"variables": {
			"CKProcessID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}