Azure-Data-Factory-Development/PartialArmTemplates/ArmTemplate_4_14_2020_16_26_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Azure-Data-Factory-Development"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy Data Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"maxConcurrentConnections": 0
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"redirectIncompatibleRowSettings": {
								"linkedServiceName": {
									"referenceName": "Log_LinkedService",
									"type": "LinkedServiceReference"
								},
								"path": "demo/demo"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Series_reference",
											"type": "String"
										},
										"sink": {
											"name": "Series_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "String"
										},
										"sink": {
											"name": "Period",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Data_value",
											"type": "String"
										},
										"sink": {
											"name": "Data_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNITS",
											"type": "String"
										},
										"sink": {
											"name": "UNITS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Subject",
											"type": "String"
										},
										"sink": {
											"name": "Subject",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String"
										},
										"sink": {
											"name": "Group",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Series_title_1",
											"type": "String"
										},
										"sink": {
											"name": "Series_title_1",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_DataSet_Demo_Demo",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_DataSet_Demo",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AzureTable",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_DataSet_Table_Demo",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Load Copy Data Failure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send email on failure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "nitaneja@in.ibm.com",
								"Activity": {
									"value": "Copy Data",
									"type": "Expression"
								},
								"ErrorMessage": {
									"value": "@activity('Copy data').Error.Message",
									"type": "Expression"
								},
								"Name": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Process log SP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Process log SP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Process log SP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call p_process procedure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[p_process]",
							"storedProcedureParameters": {
								"cdatafactoryname": {
									"value": null,
									"type": "String"
								},
								"cdtend": {
									"value": null,
									"type": "DateTime"
								},
								"cdtstart": {
									"value": null,
									"type": "DateTime"
								},
								"ckprocess": {
									"value": null,
									"type": "Int32"
								},
								"cpipelinename": {
									"value": null,
									"type": "String"
								},
								"cstatus": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQL Database Connection",
							"type": "LinkedServiceReference",
							"parameters": {
								"SQl User Name": "sunildp200",
								"SQL Password": "Welcome2IBM"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}